.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2vmin;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #8BFF5D;
  }

  a:hover {
    background-color: #8BFF5D;
    color: #333;
  }

  a.active {
    background-color: #8BFF5D;
    color: #333;
  }

  span {
    color: #8BFF5D;
  }
}