section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moonwalk-item-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0 8rem 0;
}

.moonwalk-item-home-container > article {
  padding: 1rem;
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
  margin: 1.2rem 0.2rem 1rem;
  border-radius: 0.8vmin;
  border: 1px solid #8BFF5D;
}

.moonwalk-item-home-container > article > h4 {
  font-size: 1.2rem;
}

.milestone {
  margin-top: 4rem;
  margin-bottom: 24rem;
}